[Unit]
Description=Cloudflare Zero Trust Ingress Tunnel - {{ project_name }}
After=traefik.service
Requires=traefik.service

[Container]
Image=docker.io/cloudflare/cloudflared:2024.12.0
ContainerName={{ project_slug }}-cloudflared
Pod=platform.pod
Exec=tunnel --no-autoupdate run
EnvironmentFile=/etc/{{ project_slug }}/app.env
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=default.target multi-user.target
