[Unit]
Description=Enterprise Platform Native Podman Pod - {{ project_name }}
After=network-online.target
Wants=network-online.target

[Pod]
PodName={{ project_slug }}-pod
PublishPort={{ app_port | default(80) }}:80
PublishPort=443:443
PublishPort={{ dashboard_port | default(8080) }}:8080
Network=platform.network

[Install]
WantedBy=default.target multi-user.target
