[Unit]
Description=TimescaleDB PostgreSQL Database - {{ project_name }}
After=network-online.target local-fs.target
Wants=network-online.target

[Container]
ContainerName={{ project_slug }}-postgres
Pod=platform.pod
Image=docker.io/timescale/timescaledb-ha:pg16
Volume=postgres.volume:/home/postgres/pgdata/data:Z
Environment=POSTGRES_USER={{ postgres_user }}
Environment=POSTGRES_PASSWORD={{ postgres_password }}
Environment=POSTGRES_DB={{ postgres_db }}
Environment=PGDATA=/home/postgres/pgdata/data
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target multi-user.target
