[Unit]
Description=Valkey High-Performance In-Memory Store - {{ project_name }}
After=network-online.target local-fs.target
Wants=network-online.target

[Container]
ContainerName={{ project_slug }}-valkey
Pod=platform.pod
Image=docker.io/valkey/valkey:8-alpine
Volume=valkey.volume:/data:Z
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=default.target multi-user.target
